/* 네비게이션 바 스타일 지정 */
.navbar {
    background-color: #006400; /* 배경색을 #006400으로 변경 */
    color: #fff; /* 글자색을 흰색으로 변경 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar__logo a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.navbar__menu {
    list-style: none;
    display: flex;
}

.navbar__menu li {
    margin-right: 20px;
}

.navbar__menu li a {
    color: #fff;
    text-decoration: none;
}

.navbar__toogleBtn {
    display: none; /* 데스크톱에서 기본적으로 숨겨짐 */
}